
<main id="main" class="layout-post-list autopagerize_page_element" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">

{block:Posts}

  {block:Date}

    <time class="comp-post-date" datetime="{Timestamp}" data-date="{DayOfMonth}" itemprop="datePublished">{Month} {DayOfMonth}, {Year}</time>

  {/block:Date}

  <%- include('../posts/answer'); %>
  <%- include('../posts/audio'); %>
  <%- include('../posts/chat'); %>
  <%- include('../posts/link'); %>
  <%- include('../posts/panorama'); %>
  <%- include('../posts/photo'); %>
  <%- include('../posts/photoset'); %>
  <%- include('../posts/quote'); %>
  <%- include('../posts/text'); %>
  <%- include('../posts/video'); %>

  <p class="comp-post-status"><script src="/partials/post_status.js"></script></p>

{/block:Posts}

</main>
